div.menu ul, nav.menu ul {margin: 0;padding: 0;list-style: none;line-height: 1;position: relative;}
div.menu ul ul, nav.menu ul ul {position: absolute;top: -999em;width: 100%;}
div.menu ul ul ul, nav.menu ul ul ul {width: 10em;}
div.menu ul ul li, nav.menu ul ul li {position: relative;width: auto;float: left;}
div.menu ul ul ul li, nav.menu ul ul ul li {width: 100%;}
div.menu li:hover, nav.menu li:hover {visibility: inherit;}
div.menu li, nav.menu li {float: left;position: static;}
div.menu a, nav.menu a {display: block;position: relative;}
div.menu li:hover ul, div.menu li.sfHover ul, nav.menu li:hover ul, nav.menu li.sfHover ul {left: 0;top: 2em;z-index: 99;}
div.menu li:hover li ul, div.menu li.sfHover li ul, nav.menu li:hover li ul, nav.menu li.sfHover li ul {top: -999em;}
div.menu li li:hover ul, div.menu li li.sfHover ul, nav.menu li li:hover ul, nav.menu li li.sfHover ul {left: 10em;top: 0;}
div.menu li li:hover li ul, div.menu li li.sfHover li ul, nav.menu li li:hover li ul, nav.menu li li.sfHover li ul {top: -999em;}
div.menu li li li:hover ul, div.menu li li li.sfHover ul, nav.menu li li li:hover ul, nav.menu li li li.sfHover ul {left: 10em;top: 0;}
div.menu ul li.current-menu-item ul, div.menu ul ul li:hover ul, div.menu ul ul li.sfHover ul, nav.menu ul li.current-menu-item ul, nav.menu ul ul li:hover ul, nav.menu ul ul li.sfHover ul {left: 0;top: 2.5em;}
div.menu ul li.current-menu-item ul ul, nav.menu ul li.current-menu-item ul ul {top: -999em;}